*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sens', sans-serif;
}
/* Header design */
header{
    width: 1634px;
    height: 808px;
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
}
.sub-container{
    padding: 100px 150px;
}
.head-title{
    text-align: right;
    margin-bottom: 20px;
    font-size: 55px;
    font-weight: 800;
}
.head-description{
    text-align: right;
    padding: 0 0 10px 0;
    color: #757575;
}
.btn{
    text-align: right;
}
.btn-primary{
    padding: 12px;
    font-size: 19px;
    border: 0;
    border-radius: 5px;
    color: white;
    background-color: rgb(252, 53, 93);
}
/* Style Body part */
.body-container{
    padding: 20px;
    display: flex;
    gap: 87px;
    justify-content: center;
    margin-top: 131px;
    align-items: center;
    margin: 0 auto;
}
.body-title{
    font-weight: 700;
    font-size: 35px;
    padding-bottom: 20px;
    line-height: 100%;
}

.body-container img{
    width: 569px;
    height: 723.3px;
   
}
.body-content1{
    margin-top: 131px;
}
.body-content2{
    width: 416px;
    height: 400px;
    margin-top: 300px; 
    padding: 100px 150px 0 0; 
    line-height: 150%;
}
.fa-solid{
    color: aqua;
}
.body-content2 p{
    color: #757575;
}

/* My plans style */

.plans{
    text-align: center;
    padding-bottom: 100px;

}
.plan-title{
    text-align: center;
    padding: 47px 0;
    font-size: 25px;
    font-weight: 300px;  
}
.my-plans{
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 200px;
    margin-right: 10px;
}
.my-plans div{
    padding: 0 85px;
}
.my-plans h3{
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 5px;
}

.motivate{
    text-align: left;
    padding-top: 30px;
    background: url(../images/gradient2.png), url(../images/watch.png);
    background-repeat: no-repeat;
    background-position: center;

}
.motivate-title{
    height: 285px;
    width: 455px;
    text-align: left;
    padding-left: 300px; 
    font-size: 30px;
    font-weight: 600px;
    padding-top: 50px;
    color: white;
}
.call-now{
    background-color: beige;
    color: orangered;
    padding: 15px;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    font-weight: 600px;
    margin-top: 10px;
}

/* The footer styles */
.the-end{
    display: flex;
    background-color: black;
    color: white;
}
.left-footer{
    height: 317px;
    width: 485px;
    padding: 100px 250px;

}
.left-footer h2{
    padding-bottom: 20px;
    font-size: 40px;
}
.left-footer p{
    line-height: 200%;
}
.email{
    margin-bottom: 15px;
    margin-top: 15px;
}
.phone{
    margin-bottom: 30px;
}
.right-footer{
    padding-top: 100px;
    
}
.subscribe{
    display: block;
    background-color: beige;
    color: orangered;
    padding: 10px 20px;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    font-weight: 600px;
    margin-top: 10px;
}

.right-footer p{
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 200px;
}
input{
    display: block;
    background-color: black;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    font-size: 22px;
    padding: 15px 59px 15px 23px;
}
